<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="./assets/css/libs.bundle.css" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="./assets/css/theme.bundle.css" />
    
    <!-- Title -->
    <title>PalWork-HomePage</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    
    <script>
      window.dataLayer = window.dataLayer || [];
    
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-156446909-2");
    
    </script>
  </head>
  <body style="font-family: 'Tajawal', sans-serif;" >

 

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" dir="ltr">
      <div class="container">
    
        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <span class="text-primary">PalWork</span>
        </a>
    
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
    
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>
    
          <!-- Navigation -->
          <ul class="navbar-nav ms-auto">

            <li class="nav-item dropdown">
              <a class="nav-link" id="" >
                المجتمع
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/posts&courses/Posts">
                    المنشورات
                  </a>
                </li>
                <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/posts&courses/blog-search">
                    قوي نفسك في ورشة تدريبية
                  </a>
                </li>

              </ul>
            </li>


            <li class="nav-item ">
              <a class="nav-link " id="navbarPages" href="/find/FindContractor" >
                احصل على عمل
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " id="navbarDocumentation" href="/find/FindWorker" >
                ايجاد عامل
              </a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link" id="" >
                الحساب
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/account/account-general">
                    الاعدادات
                  </a>
                </li>
                <!-- <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/singup&in&password/singIn">
                    تسجيل الدخول
                  </a>
                </li> -->
                <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/singup&in&password/singIn">
                    تسجيل الخروج
                  </a>
                </li>
                <!-- <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle"  href="/singup&in&password/singUp">
                    انشاء حساب
                  </a>
                </li> -->
                <li class="dropdown-item dropend">
                  <a class="dropdown-link dropdown-toggle" href="/account/profile">
                    صفحتي
                  </a>
                </li>
              </ul>
            </li>



          </ul>
    
          <!-- Button -->
    
        </div>
    
      </div>
    </nav>

    <!-- WELCOME -->
    <section class="pt-4 pt-md-11">
      <div class="container" >
        <div class="row align-items-center" >
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="assets/img/illustrations/illustration-2.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-3 text-center text-md-start" dir="rtl" >
              <span> مرحبا بك في<span class="text-primary"> PalWork </span> <br></span>
              ملتقى عمال فلسطين
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
              احصل على المقاول(المشغل) الافضل لك كعامل، واحصل على افضل العمال الذين يناسبوك كمقاول في مكان واحد.
            </p>
            <div style="display: flex;justify-content:space-around">
            <!-- Buttons -->
            <div class="text-center text-md-start">
              <a href="https://www.youtube.com/" class="btn btn-primary shadow lift me-1">
                حمل PalWork للهاتف <i class="fa-brands fa-google-play"></i>
              </a>
            </div>
            <div class="text-center text-md-start">
              <a href="/singup&in&password/singIn" class="btn btn-primary shadow lift me-1">
                    الدخول الى الموقع <i class="fa-solid fa-right-to-bracket"></i>
              </a>
            </div>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- FEATURES -->
    <br><br><br><br>
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"/><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"/></g></svg>            </div>

            <!-- Heading -->
            <h3>
              صنع خصيصا لعمال ومقاولين فلسطين.
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              يستطيع العمال ايجاد المقولين الانسب وكذلك المقاولين يستطيعون ايجاد العمال الانسب، ومن ثم يتواصلون مع بعضهم البعض عن طريق وسائل التواصل.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g></svg>            </div>

            <!-- Heading -->
            <h3>
              انشر اعمالك وافكارك هنا.
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              يستطيع مستخدمو هذا الموقع نشر اعمالهم وافكارهم هنا ومشاهدة ما نشر الاخرون بهولة.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"/></g></svg>            </div>

            <!-- Heading -->
            <h3>
              كن خبيرا في مجالات معينة.
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              نوفر في هذا الموقع امكانية الالتحاق بدورات تقوية ل الاعمال مثل الدهان و النجارة مثلا.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- TESTIMONIALS -->
    <section class="pt-10 pt-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h2>
              مستخدمي خدمتنا افضل مساعد لنا.
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-7 mb-md-9">
              نحن نستمع لاراء العمال والمشغلين في هذا الموقع، ان كان لديهم راي بناء او اضافة يريدونها في هذا الموقع.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row gx-0">
                <div class="col-12 col-md-6">

                  <!-- Slider -->
                  <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                    <a class="card-img-start w-100 bg-cover" style="background-image: url(assets/img/photos/WorkerImg.jpg);" href="#!">

                      <!-- Image (placeholder) -->
                      <img src="assets/img/photos/WorkerImg.jpg" alt="..." class="img-fluid d-md-none invisible">

                    </a>
                    <a class="card-img-start w-100 bg-cover" style="background-image: url(assets/img/photos/ContractorImg.jpg);" href="#!">

                      <!-- Image (placeholder) -->
                      <img src="assets/img/photos/ContractorImg.jpg" alt="..." class="img-fluid d-md-none invisible">

                    </a>
                  </div>

                  <!-- Shape -->
                  <div class="shape shape-end shape-fluid-y text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/></svg>                  </div>

                </div>
                <div class="col-12 col-md-6 position-md-static">

                  <!-- Slider -->
                  <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="blogSlider">
                    <div class="w-100">

                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">

                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                            </div>
                          </div> <!-- / .row -->

                          <!-- Text -->
                          <p class="mb-5 mb-md-7">
                            كن انت العامل المميز الذي يبحث عنه جميع المقاولون.
                          </p>

                        </blockquote>
                      </div>

                    </div>
                    <div class="w-100">

                      <!-- Body -->
                      <div class="card-body">
                        <blockquote class="blockquote text-center mb-0">

                          <!-- Brand -->
                          <div class="row justify-content-center mb-5 mb-md-7">
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                            </div>
                          </div> <!-- / .row -->

                          <!-- Text -->
                          <p class="mb-5 mb-md-7">
                            كن انت المقاول الذي يحلم به جميع العمال.
                          </p>

                          <!-- Footer -->
                          <footer class="blockquote-footer">
                            <span class="h6 text-uppercase">Russ D'Sa</span>
                          </footer>

                        </blockquote>
                      </div>

                    </div>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative mt-n8">
      <div class="shape shape-bottom shape-fluid-x text-gray-200">
        <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>      </div>
    </div>

    <!-- STATS -->
    <section class="pt-12 pt-md-13 bg-gray-200">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="assets/img/illustrations/illustration-8.png" alt="..." class="img-fluid mb-6 mb-md-0">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1">

            <!-- Heading -->
            <h2>
                  <span class="text-primary">وفر الوقت و وفر الجهد</span> <br>
            </h2>

            <!-- Text -->
            <p class="fs-lg text-gray-700 mb-6">
                            <span class="">              وفر الوقت وفرالجهد و احصل على افضل عامل او  مشغل من خلال جهازك الذكي بكل سهوله بدون عناء البحث الطويل وتواصل مع مجتمع مميز من العمال و المقاولين اكتسب خبره و افتح آفاق جديده لنفسك
              </span>
            </p>

            <!-- Stats -->
            <div class="d-flex">
              <div class="pe-5">
                <h3 class="mb-0">
                  <span data-countup='{"startVal": 0}' data-to="100" data-aos data-aos-id="countup:in"></span>%
                </h3>
                <p class="text-gray-700 mb-0">
                  الضمان
                </p>
              </div>
              <div class="border-start border-gray-300"></div>
              <div class="px-5">
                <h3 class="mb-0">
                  <span data-countup='{"startVal": 0}' data-to="24" data-aos data-aos-id="countup:in"></span>/
                  <span data-countup='{"startVal": 0}' data-to="7" data-aos data-aos-id="countup:in"></span>
                </h3>
                <p class="text-gray-700 mb-0">
                  الدعم
                </p>
              </div>
              <div class="border-start border-gray-300"></div>
              <div class="ps-5">
                <h3 class="mb-0">
                  <span data-countup='{"startVal": 0}' data-to="100" data-aos data-aos-id="countup:in"></span>k+
                </h3>
                <p class="text-gray-700 mb-0">
                  عدد الاعضاء
                </p>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- PRICING -->
    <section class="pt-9 pt-md-12 bg-gray-200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h1>
            </h1>

            <!-- Text -->
            <p class="lead text-gray-700">
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center gx-0">
          <div class="col-12 col-md-6">

          </div>
          <div class="col-12 col-md-6 ms-md-n3">

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <br><br><br><br><br><br><br><br><br>

    <!-- SHAPE -->
    <div class="position-relative mt-n15">
      <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    <!-- FAQ -->
    <section class="pt-15 bg-dark">
      <div class="container pt-8 pt-md-11">
        <div style="position: relative;" class="row">
          <div class="col-12 col-md-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Badge -->
              <div class="badge badge-lg badge-rounded-circle bg-success">
                <span>?</span>
              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="text-white">
                  هل الخدمة مجانية؟
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-8">
                  نعم الخدمة مجانية بالكامل ومدى الحياة.
                </p>

              </div>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Badge -->
              <div class="badge badge-lg badge-rounded-circle bg-success">
                <span>?</span>
              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="text-white">
                  هل يمكنني كعامل التسجيل في الموقع والحصول على عمل؟
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  نعم يمكنك ذلك بتوسيع افاق عملك والبحث عن المشغلون المحتملين
                </p>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-6">

            <!-- Item -->
            <div class="d-flex ">

              <!-- Badge -->
              <div class="badge badge-lg badge-rounded-circle bg-success">
                <span>?</span>
              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="text-white">
                  هل الموقع يضمن حقوقي كعامل او مقاول؟
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-8">
                  بالطبع في حال تقصير احد الطرفين سنقوم باتخاذ الاجراء المناسب.
                </p>

              </div>

            </div>

            <!-- Item -->
            <div class="d-flex" >

              <!-- Badge -->
              <div class="badge badge-lg badge-rounded-circle bg-success">
                <span>?</span>
              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="text-white">
                  هل يمكنني بدء حياتي المهنية او تعزيز قدراتي المهنية؟
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  بالطبع فنحن نوفر لك قسما مخصصا للدورات التدريبية لبدء حياتك المهنية او تعزيزها
                </p>

              </div>

            </div>

          </div>

<br><br><br><br><br>   <br><br><br><br><br>          
        </div> <!-- / .row -->
          <!-- Item -->
          <div class="d-flex" >

            <!-- Badge -->
            <div class="badge badge-lg badge-rounded-circle bg-success">
              <span>?</span>
            </div>

            <div class="ms-5">

              <!-- Heading -->
              <h4 class="text-white">
                نصائح لموقع افضل
              </h4>
              <textarea name="" id="" cols="40" rows="10"></textarea>
              

            <!-- Buttons -->
            <div class="text-center text-md-start">
              <a href="https://www.youtube.com/" class="btn btn-primary shadow lift me-1">
                ارسل لنا تعليقك 
              </a>
            </div>


            </div>

          </div>

      </div> <!-- / .container -->
      <br><br><br><br><br><br><br>
    </section>


    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>


    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>

  <!-- Code injected by live-server -->
<script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script></body>
</html>
